* {
  margin: 0;
  padding: 0;
  --primary-color: #1f2a40;
  --secondary-color: #f0f4f7;
}
/* * {
  outline: 1px solid red;
} */

body {
  overflow-x: hidden;
  max-width: 100vw;
}

.navbar {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  background-color: transparent;
  position: fixed !important;
  top: 0;
  width: 100%;
  background-color: #1f2a40;
  padding: 15px;
  transition: all 0.3s ease;
  z-index: 1050;
}

.navbar.scrolled {
  background-color: var(--primary-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar .a {
  color: var(--secondary-color);
  margin-left: 100px;
  list-style: none;
  text-decoration: none;
  font-size: 30px;
}

.navbar .navbar-nav {
  margin-left: 300px;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: var(--secondary-color);
  margin-right: 5px;
  font-size: 17px;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  border-bottom: 3px solid;
}

.navbar .navbar-nav .button a {
  background-color: transparent;
  border: 2px var(--secondary-color) solid;
  color: var(--secondary-color);
  padding: 10px 30px;
  border-radius: 50px;
  margin-left: 150px;
  display: inline-block;
  text-decoration: none !important;
  transition: 0.3s;
  list-style: none !important;
}
@media (max-width: 767.98px) {
  .navbar .a {
    margin-left: 10px;
  }

  .navbar .navbar-nav {
    margin-left: 30px;
  }
  .navbar .button {
    margin-left: -150px;
  }
}

/* NAVBAR */

.hero {
  padding-top: 200px;
  height: 100vh;
  position: relative;
  z-index: -2;
  background-image: url(image/logistics-management.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  /* height: 100%;
  width: 100%; */
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.63);
  z-index: -1;
}

.hero .hero-content {
  text-align: center !important;
  padding-top: 70px;
}

.hero .hero-content h2 {
  color: var(--secondary-color);
  font-size: 50px;
}

.hero .hero-content p {
  color: var(--secondary-color);
  font-size: 15px;
  margin-top: 20px;
}

.hero .hero-content button {
  background-color: transparent;
  border: 2px var(--secondary-color) solid;
  color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 50px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.buttona {
  background-color: transparent;
  border: 2px var(--secondary-color) solid;
  color: var(--secondary-color);
  padding: 10px 30px;
  border-radius: 50px;
  display: inline-block;

  transition: 0.3s;
}

.buttona a {
  color: var(--secondary-color);
  border-radius: 50px;
  display: inline-block;
  text-decoration: none !important;
  transition: 0.3s;
  list-style: none !important;
}

@media (max-width: 991.98px) {
}
@media (max-width: 767.98px) {
}
/* HERO */

.about {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 0;
}

.about h2 {
  color: var(--primary-color);
  width: 100%;
  text-align: center;
}

.about h2::after {
  content: "";
  display: block;
  width: 160px;
  height: 4px;
  background: var(--primary-color);
  margin: 10px auto 0;
  border-radius: 2px;
}

.about .container {
  margin-top: 70px;
}

.about .img img {
  width: 75%;
  border-radius: 10px;
  border: 3px var(--primary-color) solid;
  margin-left: 100px;
}

.about .text {
  margin-top: 100px;
  color: var(--primary-color);
}

.about .text p {
  font-size: 17px;
  line-height: 30px;
}
@media (max-width: 991.98px) {
  .about .img {
    width: 100%;
  }
  .about .text {
    width: 100%;
    text-align: center;
  }
  .about .text p {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  .about .img img {
    display: block;
    margin: 0 auto;
  }
  .about .text {
    width: 100%;
    text-align: center;
  }
  .about .text p {
    width: 100%;
    text-align: center;
  }
}
/* ABOUT */

.portofolio {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f0f4f7;
  margin-top: 0;
   box-shadow: 0 12px 32px rgb(0, 0, 0);
}
.portofolio h2 {
  color: var(--primary-color);
  width: 100%;
  text-align: center;
}

.portofolio h2::after {
  content: "";
  display: block;
  width: 160px;
  height: 4px;
  background: var(--primary-color);
  margin: 10px auto 0;
  border-radius: 2px;
}

.portofolio img {
  width: 100%;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  border: 0;
  border-radius: 10px;
  display: block;
  object-fit: cover;
  max-width: 100%;
}
.overlays {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  max-width: 100%;
}

.image-container img:hover {
  width: 100%;
  max-width: 100%;
}
.image-container:hover .overlays {
  opacity: 1;
  border-radius: 10;
}
@media (max-width: 991.98px) {
}
/* PORTOFOLIO */

.services {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--primary-color);
}

.services h2 {
  color: var(--secondary-color);
  width: 100%;
  text-align: center;
}

.services h2::after {
  content: "";
  display: block;
  width: 140px;
  height: 4px;
  background: var(--secondary-color);
  margin: 10px auto 0;
  border-radius: 2px;
}

.services .container {
  width: 100%;
  text-align: center !important;
  margin-top: 50px;
}

.services .card {
  height: 470px !important;
  border-radius: 20px;
  text-align: center !important;
}

.services img {
  height: 250px;
  border-radius: 20px 20px 0px 0px;
}

.services button {
  background-color: var(--primary-color);
  border: 2px var(--secondary-color) solid;
  color: var(--secondary-color);
  padding: 7px 17px;
  border-radius: 50px;
}

.services button:hover {
  padding: 10px 20px;
}

@media (max-width: 991.98px) {
}
/* SERVICES */

.revuse {
  padding-top: 50px;
  padding-bottom: 50px;
}
.revuse .container {
  width: 100%;
  text-align: center !important;
}
.revuse h2 {
  color: var(--primary-color);
  width: 100%;
  text-align: center;
}

.revuse h2::after {
  content: "";
  display: block;
  width: 120px;
  height: 4px;
  background: var(--primary-color);
  margin: 10px auto 0;
  border-radius: 2px;
}

.revuse .card-body {
  width: 100% !important;
  text-align: center !important;
}
.revuse .card {
  margin-top: 20px;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center !important;
}

.revuse img {
  width: 100px;
  border-radius: 50%;
  margin-top: 50px;
  border: 2px var(--primary-color) solid;
  text-align: center !important;
}
.revuse .col {
  width: 100%;
  text-align: center;
}

@media (max-width: 991.98px) {
}
/* REVUSE */

footer {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: var(--primary-color);
  
}

footer h2 {
  color: var(--secondary-color);
  width: 100%;
  text-align: center;
}

footer h2::after {
  content: "";
  display: block;
  width: 170px;
  height: 4px;
  background: var(--secondary-color);
  margin: 10px auto 0;
  border-radius: 2px;
}

footer .container {
  margin-top: 50px;
}

footer .map iframe {
  width: 150%;
  height: 450px;
  border: 0;
}
footer .info {
  margin-left: 300px;
  margin-top: 170px;
}

footer p {
  color: var(--secondary-color);
}

footer p span {
  margin-left: 10px;
}

footer h3 {
  text-align: center;
  color: var(--secondary-color);
  padding-top: 30px;
  font-size: 20px;
}
@media (max-width: 991.98px) {
  footer .info {
    margin-left: 50px;
    margin-top: 20px;
  }
}

@media (max-width: 767.98px) {
  footer .map {
    margin-top: 50px;
    width: 70% !important;
    text-align: center;
    max-width: 100%;
  }

  footer h3 {
    font-size: 10px;
  }
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  font-size: 30px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.whatsapp-float:hover {
  background-color: #1ebe5d;
  transform: scale(1.1);
  text-decoration: none;
}

/* @media (max-width: 1000px) {
  .navbar .a {
    margin-left: 20px !important;
  }
  .navbar .navbar-nav {
    margin-left: 20px;
  }

  .hero {
    height: 60vh;
  }
  .hero .overlay {
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.696);
  }
  .hero .hero-content p {
    width: 75%;
    margin-left: 100px;
  }

  .about h2 {
    margin-left: 360px;
    width: 122px;
  }
  .about .img {
    width: 100%;
  }
  .about .text {
    margin-left: 190px;
    text-align: center;
  }
  .about .text p {
    width: 100%;
    margin-left: -125px !important;
  }

  .portofolio h2 {
    margin-left: 345px;
    width: 125px;
  }
  .portofolio img {
    width: 199%;
  }

  .services h2 {
    margin-left: 345px;
    width: 105px;
  }
  .services .container {
    margin-left: 200px;
  }
  .services .card {
    margin-bottom: 20px;
  }

  .revuse h2 {
    margin-left: 345px;
    width: 90px;
  }
  .revuse .card {
    margin-left: 150px;
  }
  .revuse img {
    text-align: center;
  }

  footer h2 {
    margin-left: 335px;
    width: 142px;
  }
  footer .info {
    margin-left: 50px;
    margin-top: 10px;
  }
} */

@media (max-width: 576px) {
  .whatsapp-float {
    width: 45px;
    height: 45px;
    font-size: 22px;
    line-height: 45px;
    right: 10px;
    bottom: 10px;
  }
}
.whatsapp-float {
  z-index: 9999 !important;
}
